<?xml version="1.0"?>
<launch>

  <!-- Path to save scene data-->
  <param name="local_path" value="$(find descartes_tutorials)/Scenarios/Simulations_Thesis/TestcaseRB/TR_Cost.bag"/>
  <param name="readTrajectoryFile" value="true"/>
  <param name="writeTrajectoryFile" value="false"/>
  <param name="collisionChecking" value="true"/>
  <param name="useWeldingCost" value="true"/>
  <param name="weldingCostWeight" value="10.0"/>
  <param name="weldingSpeed" value="0.01"/> <!-- Speed in m/s-->
  <param name="workObjectPath" value="$(find descartes_tutorials)/Scenarios/Meshes/tube_on_plate.stl"/>
  <param name="workObjectID" value="tube_on_plate"/>

  <node name="robot" pkg="descartes_tutorials" type="robot" output="screen" />

</launch>
