<?xml version="1.0"?>
<launch>

  <!-- Path to save scene data-->
  <param name="local_path" value="$(find descartes_tutorials)/Scenarios/trajectories/trajectory.bag"/>
  <param name="readTrajectoryFile" value="false"/>
  <param name="writeTrajectoryFile" value="true"/>
  <param name="useWeldingCost" value="false"/>
  <param name="weldingCostWeight" value="10.0"/>
  <param name="workObjectPath" value="$(find descartes_tutorials)/Scenarios/Meshes/l-profile.stl"/>
  <param name="workObjectID" value="i_profile"/>

  <node name="robot" pkg="descartes_tutorials" type="robot" output="screen" />

</launch>
