<?xml version="1.0"?>
<robot name="kr120_with_torch" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="Grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

<!--Dummy base link-->
<link name="base_link">
  <visual>
    <geometry>
      <box size="0.2 0.2 0.01"/>
    </geometry>
  </visual>
  <collision>
    <geometry>
      <box size="0.2 0.2 0.01"/>
    </geometry>
  </collision>
</link>

<!--Put kuka arm on base link-->
<xacro:include filename="$(find kuka_kr120_support)/urdf/kr120r2500pro_macro.xacro" />
<xacro:kuka_kr120r2500pro prefix="arm_"/>

<joint name="base_link_to_arm_base_link" type="fixed">
  <parent link="base_link"/>
  <child link="arm_base_link"/>
</joint>

<!--Add welding torch-->
<link name="welding_torch"> 
 <visual> 
    <origin xyz="0 0 0" rpy="0 -1.57079632679 0" /> 
    <geometry> 
      <mesh filename="package://kr120_with_torch/meshes/torch.stl" scale=".01 .01 .01"/> 
     </geometry> 
     <material name="Grey" />
 </visual> 
 <collision> 
    <origin xyz="0 0 0" rpy="0 -1.57079632679 0" /> 
    <geometry> 
      <mesh filename="package://kr120_with_torch/meshes/torch.stl" scale=".01 .01 .01"/>
    </geometry> 
 </collision> 
</link>

<link name="tool_tip" />

<joint name="tool_to_torch" type="fixed">
  <parent link="arm_tool0"/>
  <child link="welding_torch"/>
</joint>

<joint name="torch_to_tip" type="fixed">
  <parent link="welding_torch"/>
  <child link="tool_tip"/>
  <origin xyz="-0.034 0 0.326" rpy="0 0.78526059641 0" />
</joint>

</robot>
